*{
    margin:0;
    padding: 0;
    font-family: sans-serif;

}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;

}
nav{
    display:flex;
    width:98%;
    margin:auto;
    padding: 10px ;
    align-items: center;
    justify-content:space-between ;
    background-color:whitesmoke;
    height: 50px;
    height:70px;
    border-radius: 20px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    text-decoration: none;

}
nav ul li a{
    text-decoration: none;
    color:black;
    font-weight:bold;

}
nav ul li a:hover{
    color:red;
}
.detel{
    margin-left: 5%;
    margin-top: 13%;
}
.detel h1{
    font-size: 50px;
    color:#212121;
    margin-bottom: 20px;
    animation-name:20px;
}
span{
    color:orange;
}
.detel p{
    color:#555;
    line-height: 22px;
    /* font-weight: bold; */
    font-size:20px;
    

}
.detel a{
    background: #212121;
    padding:10px 18px;
    text-decoration: none;
    font-weight: bold;
    color:#fff;
    display:inline-block;
    margin:30px 0;
    border-radius: 5px;
}
.images
{
    width:15%;
    height:50%;
    position:absolute;
    bottom:0;
    right:200px;
    
}
.images img{
    height: 400px;
    position: absolute;
    left:55%;
    bottom:0;
    transform:translateX(-40%);
    transition: bottom 1s,left 1s;
    margin-left: 5%;
    margin-right: 80%;
    background: #eff4fd;
    mix-blend-mode: hard-light;
    margin-bottom: 80px;
}
.imges:hover.pho{
    
    left:45%;
}
.skill
{
    margin-left: 5%;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    break-after: 10px;
    background-color:grey;
    border-radius: 25px;
    
}
.skill li{
    font-family:sans-serif;
}
.hii{
    margin-left: 5%;
}
.cantact{
    font-weight: bold;
    margin-left: 5%;
    padding-top: 30px;
}
.icon{
    font-size: 3rem;
        justify-content: 20px;

}
.can{
    font-weight: bold;
    color: black;
    font-size: 20px;
    padding: 20px;
}
.can li:hover{
    color:darkred;
    left: 45%;
}
.cantact:hover.can{
    bottom:40px;
    left:45px;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    
}

.foo1 {
    font-size: 14px;
}
@media (max-width: 768px) {
    .footer {
        padding: 15px 0;
    }
}
.resume{
    margin-left: 80px;
    font-weight: bold;
    padding: 30px;
    margin-left: 0%;

}
.resume i{
    font-size: 3rem;
    margin-left: -7%;
    
}
.www{
    display: flex;
    justify-content: space-between;
    margin-left: 0%;
    padding-top: 20px;
    border-radius: 25px;
    /* border-style: groove; */
}
nav h3{
    margin-left: -40%;
    font-size: 2rem;
}
.click:hover{
    color:orange;
}

